#h1 {
    color: blue;
    text-transform: uppercase;
    text-decoration: underline;
}
p {
    color: lightgreen;

}
h2 {
    color: lightblue;
}

.title {
    color: blueviolet;
    font-family: sans-serif;
}
h3 {
    color: lightblue;
}